<div class="button" style="visibility: hidden"></div>
<a href="" class="sel-keypad-up button" ng-mousedown="sendFECC('start', 'tilt', 'up')" ng-mouseup="sendFECC('stop', 'tilt', 'up')">
    <i class="mdi-keyboard-arrow-up"></i>
</a>
<div class="button" style="visibility: hidden"></div>
<br>
<a href="" class="sel-keypad-left button" ng-mousedown="sendFECC('start', 'pan', 'left')" ng-mouseup="sendFECC('stop', 'pan', 'left')">
    <i class="mdi-keyboard-arrow-left"></i>
</a>
<div class="button" style="visibility: hidden"></div>
<a href="" class="sel-keypad-right button" ng-mousedown="sendFECC('start', 'pan', 'right')" ng-mouseup="sendFECC('stop', 'pan', 'right')">
    <i class="mdi-keyboard-arrow-right"></i>
</a>
<br>
<div class="button" style="visibility: hidden"></div>
<a href="" class="sel-keypad-down button" ng-mousedown="sendFECC('start', 'tilt', 'down')" ng-mouseup="sendFECC('stop', 'tilt', 'down')">
    <i class="mdi-keyboard-arrow-down"></i>
</a>
<div class="button" style="visibility: hidden"></div>
<br>
<br>
<a href="" class="sel-keypad-zoom-out button" ng-mousedown="sendFECC('start', 'zoom', 'out')" ng-mouseup="sendFECC('stop', 'zoom', 'out')">
    <i class="mdi-remove"></i>
</a>
<div class="button" style="visibility: hidden"></div>
<a href="" class="sel-keypad-zoom-in button" ng-mousedown="sendFECC('start', 'zoom', 'in')" ng-mouseup="sendFECC('stop', 'zoom', 'in')">
    <i class="mdi-add"></i>
</a>
