<div class="overlay-container brand-overlay sel-dialog-escalate" id="dialog-change-media" toggle>
    <form class="overlay-content brand-secondary" ng-submit="startMediaCall(); hide();" ng-controller="UserMediaPreviewController">
        <div ng-if="!params.audioonly" class="dialog-title" translate>IDS_ESCALATE_PROMPT</div>
        <div ng-if="params.audioonly" class="dialog-title" translate>IDS_ESCALATE_PROMPT_MICROPHONE</div>
        <div class="dialog-content">
            <div class="placeholder-text" ng-hide="mediaSources.audio || mediaSources.video">
                <div>
                    <img src="img/spinner-black.svg" class="spinner" />
                </div>
                <span translate>IDS_ESCALATE_REQUESTING_ACCESS</span>
            </div>
            <div class="red login-error" ng-if="getUserMediaError" translate>
                {{getUserMediaError | translate}}
            </div>
            <table style="width: 100%" ng-show="!platformSettings.hasWebRTC || mediaSources.audio || mediaSources.video">
                <tr ng-show="mediaSources.audio">
                    <td>
                        <label class="settings-label" translate>IDS_SETTINGS_MICROPHONE</label>
                    </td>
                </tr>
                <tr ng-show="mediaSources.audio">
                    <td>
                        <select class="sel-escalate-microphone" ng-model="localStorage.microphoneSourceId" ng-options="source.id as (source.label | translate) for source in mediaSources.audio" ng-change="conditionalPreviewUserMedia()">
                            <option value="" translate>IDS_SETTINGS_MICROPHONE_DEFAULT</option>
                        </select>
                        <div class="audio-preview">
                            <div class="blue audio-preview" ng-style="{ width: microphoneVolume+'%' }">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if="!params.audioonly && localStorage.defaultBandwidth && mediaSources.video && connection.data.remoteCallType != 'audio'">
                    <td>
                        <label class="settings-label" translate>IDS_SETTINGS_CAMERA</label>
                    </td>
                </tr>
                <tr ng-if="!params.audioonly && localStorage.defaultBandwidth && connection.data.remoteCallType != 'audio'" ng-show="mediaSources.video">
                    <td>
                        <select class="sel-escalate-camera" ng-model="localStorage.cameraSourceId" ng-options="source.id as (source.label | translate) for source in mediaSources.video" ng-change="conditionalPreviewUserMedia()">
                            <option value="" translate>IDS_SETTINGS_CAMERA_DEFAULT</option>
                        </select>
                    </td>
                </tr>
                <tr ng-if="!isAndroid && !params.audioonly && platformSettings.hasWebRTC && localStorage.cameraSourceId !== false && localStorage.defaultBandwidth && mediaSources.video.length && connection.data.remoteCallType != 'audio'">
                    <td style="text-align: center;">
                        <div class="video-preview">
                            <video muted autoplay playsinline ng-src="{{localMediaStreamURL}}" ng-if="platformSettings.hasWebRTC" pex-localstream />
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="alert-actions">
            <button type="button" class="button square sel-escalate-video-close" ng-click="hide()">
                <span translate>IDS_BUTTON_CANCEL</span>
            </button>
            <button type="submit" class="button square sel-escalate-start" ng-show="mediaSources.audio || mediaSources.video">
                <span translate>IDS_CHANGE_MEDIA_SOURCES</span>
            </button>
        </div>
    </form>
</div>
