/* Object Fit
    Fit objects horizontally and vertically
*/
.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 32px;
  padding-top: 16px;
  min-height: 44px; }
  @media screen and (max-width: 767px) {
    .button-group {
      margin-top: auto;
      margin-bottom: 16px; } }

.button-group--right {
  flex-direction: row-reverse; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #aeaeae; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #aeaeae;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #aeaeae;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #aeaeae; }

.dialog-button {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  margin: 5px;
  padding: 10px 15px 11px;
  font-weight: normal;
  font-size: 1em;
  min-width: 100px;
  transition: background-color 0.5s ease, border-color 0.5s ease, width 0.5s ease; }
  .dialog-button {
    background-color: #ffffff;
    border-color: #4a90e2;
    color: #4a90e2; }
  .high-contrast .dialog-button,
  .high-contrast :host .dialog-button {
    background-color: #ffffff;
    border-color: #14457f;
    color: #14457f; }

.small-button {
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  margin: 5px;
  padding: 5px 8px;
  font-weight: normal;
  font-size: 0.6em;
  min-width: 60px;
  transition: background-color 0.5s ease, border-color 0.5s ease, width 0.5s ease; }
  .small-button {
    background-color: #ffffff;
    border-color: #4a90e2;
    color: #4a90e2; }
  .high-contrast .small-button,
  .high-contrast :host .small-button {
    background-color: #ffffff;
    border-color: #14457f;
    color: #14457f; }

.blue-action-button {
  background-color: #4a90e2;
  border-color: #4a90e2;
  color: #ffffff; }

.high-contrast .blue-action-button,
.high-contrast :host .blue-action-button {
  background-color: #14457f;
  border-color: #14457f;
  color: #ffffff; }

.blue-action-button:active {
  transform: scale(0.95); }

.green-action-button {
  background-color: #00d786;
  border-color: #00d786;
  color: #ffffff; }

.high-contrast .green-action-button,
.high-contrast :host .green-action-button {
  background-color: #003e27;
  border-color: #003e27;
  color: #ffffff; }

.green-action-button:active {
  transform: scale(0.95); }

.red-action-button {
  background-color: #ff4949;
  border-color: #ff4949;
  color: #ffffff; }

.high-contrast .red-action-button,
.high-contrast :host .red-action-button {
  background-color: #af0000;
  border-color: #af0000;
  color: #ffffff; }

.red-action-button:active {
  transform: scale(0.95); }

.gray-action-button {
  background-color: #d6d6d6;
  border-color: #d6d6d6;
  color: #ffffff; }

.blue-non-action-button {
  border-color: #4a90e2;
  color: #4a90e2; }

.high-contrast .blue-non-action-button,
.high-contrast :host .blue-non-action-button {
  border-color: #14457f;
  color: #14457f; }

.blue-non-action-button:active {
  transform: scale(0.95); }

.green-non-action-button {
  border-color: #00d786;
  color: #00d786; }

.high-contrast .green-non-action-button,
.high-contrast :host .green-non-action-button {
  border-color: #003e27;
  color: #003e27; }

.green-non-action-button:active {
  transform: scale(0.95); }

.red-non-action-button {
  border-color: #ff4949;
  color: #ff4949; }

.high-contrast .red-non-action-button,
.high-contrast :host .red-non-action-button {
  border-color: #af0000;
  color: #af0000; }

.red-non-action-button:active {
  transform: scale(0.95); }

.gray-non-action-button {
  border-color: #4a4a4a;
  color: #4a4a4a; }

.high-contrast .gray-non-action-button,
.high-contrast :host .gray-non-action-button {
  border-color: black;
  color: black; }

.circle-close-button {
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  opacity: 0.4;
  height: 36px;
  width: 36px;
  display: block;
  text-align: center;
  margin: auto;
  position: relative; }
  .circle-close-button-icon {
    line-height: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 24px;
    width: 24px; }

.close-button {
  transition: 0.5s ease-in-out all;
  transition-delay: 0.2s;
  padding: 7px 8px 9px;
  background-color: #fff;
  line-height: 24px;
  cursor: pointer;
  min-width: unset;
  margin: 0; }

.dialog-box {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  margin-right: 5px;
  padding: 5px 10px;
  font-weight: normal;
  font-size: 1.1em; }
  .dialog-box {
    border-color: #4a90e2;
    color: #4a90e2;
    background-color: #ffffff; }
  .high-contrast .dialog-box,
  .high-contrast :host .dialog-box {
    border-color: #14457f;
    color: #14457f;
    background-color: #ffffff; }

.blue-dialog-box {
  border-color: #4a90e2;
  color: #4a90e2; }

.high-contrast .blue-dialog-box,
.high-contrast :host .blue-dialog-box {
  border-color: #14457f;
  color: #14457f; }

.gray-dialog-box {
  border-color: #c4c4c4; }

.green-dialog-box {
  border-color: #00d786; }

.high-contrast .green-dialog-box,
.high-contrast :host .green-dialog-box {
  border-color: #003e27; }

.red-dialog-box {
  border-color: #ff4949; }

.high-contrast .red-dialog-box,
.high-contrast :host .red-dialog-box {
  border-color: #af0000; }

.bold-heading {
  font-size: 1.2em;
  font-weight: bold; }

.pex-dialog-close {
  float: right;
  margin: 15px;
  display: block; }

.pex-dialog-error-code {
  float: right;
  color: #c3c3c3;
  font-size: 12px;
  margin: -20px 20px 15px; }

.pex-dialog-content-inner {
  text-align: center;
  margin: 70px 30px 60px;
  box-sizing: border-box; }

.pex-dialog-content-title {
  font-size: 24px;
  margin: 0 auto 40px; }

.pex-dialog-content-message {
  margin: 40px auto;
  font-size: 16px;
  color: #4a4a4a; }
  .pex-dialog-content-message--medium {
    max-width: 250px; }

.pex-dialog-content-button {
  font-size: 16px; }

@media screen and (max-width: 512px) {
  .pex-stage__toolbar-button {
    display: inline-block;
    position: relative;
    padding: 8px 5px 16px;
    margin-right: -4px; }
  .pex-stage__toolbar-button-icon {
    height: 20px;
    width: 20px;
    vertical-align: middle; } }

@media screen and (min-width: 512px) {
  .pex-stage__toolbar-button {
    display: inline-block;
    position: relative;
    padding: 10px 8px 16px;
    margin-right: -4px; }
  .pex-stage__toolbar-button-icon {
    height: 28px;
    width: 28px;
    vertical-align: middle; } }

div {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

button {
  cursor: pointer; }

body,
html {
  margin: 0;
  height: 100%;
  font-family: 'GTPressuraLight', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden; }
  body,
  html {
    font-size: 16px; }
    @media screen and (min-width: 320px) {
      body,
      html {
        font-size: calc(16px + 8 * ((100vw - 320px) / 1600)); } }
    @media screen and (min-width: 1920px) {
      body,
      html {
        font-size: 24px; } }

button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

select {
  -webkit-appearance: menulist-button;
  -moz-appearance: menu-item; }

button:focus,
input:focus {
  outline: 0; }

svg {
  vertical-align: middle; }

button,
input,
keygen,
select,
textarea {
  font-family: 'GTPressuraLight', sans-serif; }

@font-face {
  font-family: GTPressuraLight;
  src: url(assets/GT-Pressura-Light.95530ecb0d7b396b5fdf345ea0738148.otf); }

button[pex-button] {
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

[hidden] {
  display: none !important; }

.pex-text-input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #4a90e2;
  outline: none;
  color: #4a90e2;
  font-size: 16px;
  font-weight: lighter; }
  .pex-text-input--big {
    font-size: 19px; }

.accessibility-headline {
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  visibility: hidden;
  z-index: -1; }

.ejs-embed {
  width: 100%; }
  .ejs-embed img {
    width: 100%; }
  .ejs-embed iframe {
    width: 100%;
    height: 200px; }

@media screen and (max-width: 767px) {
  .pex-portrait-only {
    visibility: visible; }
  .pex-landscape-only {
    visibility: hidden; } }

@media screen and (min-width: 768px) {
  .pex-portrait-only {
    visibility: hidden; }
  .pex-landscape-only {
    visibility: visible; } }

/*# sourceMappingURL=app.69c35f50784a9718c66a.css.map*/